# Gradle
.gradle/
build/
out/

# Forge run/dev directories
run/
run-data/
logs/

# Eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# IDEA
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Forge MDK leftovers
forge*changelog.txt
